  
:root {
  --coral-color: #FF7F50;
  --lightseagreen-color: #20B2AA;
  --beige-color: #F5F5DC;
  --gold-color: #FFD700;
  --lightgoldenyellow-color: #FAFAD2;
  --primary-color: #6500FF;
  --white-color: #FFFFFF;
  --text-color: #484848;
  --gray-color: #888888;
  --invert-primary-color: #9855FF;
  --invert-text-color: #FFFFFF;
  --invert-bg-color: #2B3137;
  --lightblue-color:#ADD8E6;
  --black-color:#000000;
}
 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    transition: all .2s;
    text-decoration: none;
    text-transform: none;
    font-family: 'spartan', sans-serif;
    list-style: none;
  }
  body {
    background: var(--beige-color);
    min-height: 100vh;
  }
  #header-content{
  padding: 23px 0;
  background: var(--beige-color);
  box-shadow: 0px -2px 10px rgba(0,0,0,.1);
  transition: .3s;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  }
  .mainheader-content{
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }
  .secondheader-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    font-weight: 600;
    font-size: 28px;
    color: var(--text-color);
    transition: .3s;
    font-family: 'Allura',  cursive;
  }
  .rightside-header {
    display: flex;
    align-items: center;
  }
  .menu-list {
    display: flex;
    align-items: center;
  }
  .menu-items {
    padding: 0 10px;
  }
  #menu-link {
    font-weight: 900;
    font-size: 18px;
    color: var(--text-color);
    display: inline-flex;
    position: relative;
    transition: .3s;
  }
  #menu-link:hover{
    color: var(--lightseagreen-color);
  }
  #menu-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 4px;
    background: var(--lightseagreen-color);
    border-radius: 2px;
    transition: .3s;
  }
  #menu-link:hover:after {
    width: 100%;
  }
  #first-page{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
  }
  .firstpage-container{
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }
  .page-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
  .pagemain-content {
    max-width: 500px;
    width: 100%;
    padding-right: 20px;
  }
  #introduction{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: .3s;
    font-family: 'Allura',  cursive;
  }
  #introduction span {
    color: var(--lightseagreen-color);
    transition: .3s;
    font-family: 'Allura',  cursive;
  }
  .occupation{
    display: block;
    font-weight: 500;
    font-size: 24px;
    color: var(--gray-color);
    margin-bottom: 25px;
  }
  .bio{
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: .3s;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .btn {
    display: inline-flex;
    background: transparent;
    border: 2px solid var(--lightseagreen-color);
    border-radius: 30px;
    padding: 13px 36px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--lightseagreen-color);
    transition: .3s;
  }
  .btn i{
    font-size: 26px;
    padding-left: 10px;
  }
  .btn:hover {
    background: var(--lightblue-color);
    color: var(--black-color);
    transform: scale(1.05);
  }
  .contacts{
    display: flex;
    margin: 0 -10px;
    margin-top: 40px;
    align-items: center;
  }
  .platforms{
    padding: 0 10px;
  }
  .media-links {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--lightseagreen-color);
    background: transparent;
    font-size: 24px;
    color: var(--lightseagreen-color);
    transition: .3s;
  }
  .media-links:hover {
    background: var(--lightseagreen-color);
    color: var(--white-color);
    transform: scale(1.15);
  }
  .user-img {
    max-width: 500px;
    width: 100%;
  }
  .user-img img {
    display: block;
    width: 100%;
    border-radius: 50%;
  }
  .icon{
    display: ;
  }
  .menu-icon{
    margin-left: 10px;
    font-size: 26px;
    color: var(--lightseagreen-color);
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1023px) {
    .menu-link{
      font-size: 15px;
    }
    .logo{
      font-size: 23px;
    }
    #introduction{
      font-size: 42px;
    }
    .occupation{
      font-size: 17px;
      margin-bottom: 20px;
    }
    .bio{
      font-size: 14px;
      margin-bottom: 20px;
    }
    .contacts{
      margin-top: 20px;
    }
    .btn{
      font-size: 15px;
    }
    .btn i{
      font-size: 20px;
    }
  }


  @media (max-width: 767px) {
    #header-content {
      padding: 20px 0;
    }
    #first-page {
      min-height: calc(100vh - 69px);
    }
    .header-menu {
      position: fixed;
      top: 69px;
      left: 100%;
      width: 100%;
      height: calc(100vh - 69px);
      background: rgba(255,255,255,.9);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s;
    }
    .header-menu.is-active {
      left: 0;
    }
    .menu-list {
      flex-direction: column;
    }
    .menu-items:not(:last-child) {
      margin-bottom: 20px;
    }
    .menu-link {
      font-size: 24px;
    }
    .page-content {
      flex-direction: column-reverse;
    }
    .user-img {
      margin-bottom: 30px;
    }
    .pagemain-content{
      padding: 0;
    }
    #introduction {
      font-size: 32px;
      text-align: center;
    }
    .occupation {
      text-align: center;
    }
    .bio {
      text-align: center;
    }
    .contact-btn {
      display: flex;
      justify-content: center;
    }
    .contacts {
      justify-content: center;
    }
  }
  